In [1]:
import pandas as pd
import numpy as np

In [3]:
#variable definiendo la ruta del archivo

ruta_archivo = "C:\\Users\\migue\\OneDrive\\Escritorio\\online_sales_data.csv"

In [5]:
# Leer el archivo
 
df = pd.read_csv(ruta_archivo)

# Exportar Datos del archivo

print(df.head())
print(df.describe())
print(df.info())
print(df.columns)

   Order ID    Product  Quantity  Unit Price     Category   Sale Date  \
0      1000  Audífonos         3     1323.42   Accesorios  2024-01-01
1      1001    Monitor         2     1147.65   Accesorios  2024-01-01
2      1002    Teclado         3      118.00   Accesorios  2024-01-01
3      1003  Audífonos         4      439.58   Accesorios  2024-01-02
4      1004     Tablet         1       82.17  Electrónica  2024-01-02

   Total Sales
0      3970.26
1      2295.30
2       354.00
3      1758.32
4        82.17
          Order ID   Quantity   Unit Price  Total Sales
count   500.000000  500.00000   500.000000   500.000000
mean   1249.500000    2.39600   804.706700  1939.853300
std     144.481833    1.16529   400.683043  1439.788409
min    1000.000000    1.00000    53.390000    82.170000
25%    1124.750000    1.00000   505.537500   784.705000
50%    1249.500000    2.00000   827.070000  1479.090000
75%    1374.250000    3.00000  1138.917500  2889.930000
max    1499.000000    4.00000  1499.060000  5984.080000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order ID     500 non-null    int64
 1   Product      500 non-null    object
 2   Quantity     500 non-null    int64
 3   Unit Price   500 non-null    float64
 4   Category     500 non-null    object
 5   Sale Date    500 non-null    object
 6   Total Sales  500 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 27.5+ KB
None
Index(['Order ID', 'Product', 'Quantity', 'Unit Price', 'Category',
       'Sale Date', 'Total Sales'],
      dtype='object')

In [6]:
# Detectamos los archivos archvos duplicados

if df.duplicated().any():
    print("Duplicados detectados")

# Mostrar las filas duplicadas
    num_duplicados = df.duplicated().sum()
    print(f"Numero de filas duplicadas:" "{num_duplicados}")

    df = df.drop_duplicates()
    print("duplicados eliminados")
else:
    print("No se encontraron duplicados.")

No se encontraron duplicados.

In [7]:
# Detectamos los valores nulos
if df.isnull().any().any():
    print("Valores nulos detectado")

    # Mostras los valores nulos por columna
    nulos_por_columna = df.isnull().sum()
    print("Numero de valores nulos por columna")
    print(nulos_por_columna[nulos_por_columna] > 0) #Muestra solo los valores nulos por columna

else:
    print("No se encotraron valores nulos")

No se encotraron valores nulos

In [9]:
# Verificar si hay valores incorrectos en "caltidad", y "precio unitario"

incorrectos_catidad = df[df["Quantity"] < 0]
incorrectos_precios = df[df["Unit Price"] < 0]

if not incorrectos_catidad.empty and not incorrectos_precios.empty:
    print("Valores incorrectos detectados en 'Quantity' y 'Unit Price':")
    print("Cantidad incorrecta:")
    print(incorrectos_catidad)
    print("Precio unitario incorrecto")
    print(incorrectos_precios)

elif not incorrectos_catidad.empty:
    print("Valores incorrectos detectados en 'Quantity':")
    print(incorrectos_catidad)

elif not incorrectos_precios.empty:
    print("Valores incorrectos detectados en 'Unit Price'")
    print(incorrectos_precios)

else:
    print("No se encontraron valores incorrectos.")

No se encontraron valores incorrectos.

In [10]:
# Columna de "total de ventas"

df["Total Sales"] = np.multiply(df['Quantity'], df['Unit Price'])

In [11]:
# Productos mas vendidos 
Productos_vendidos = df.groupby('Product')['Quantity'].sum()
Productos_vendidos = Productos_vendidos.sort_values(ascending=False)
print(Productos_vendidos)

Product
Laptop        207
Monitor       199
Ratón         171
Audífonos     169
Tablet        167
Smartphone    152
Teclado       133
Name: Quantity, dtype: int64

In [12]:
# Ingresos totales por Mes 

df['Sale Date'] = pd.to_datetime(df['Sale Date']) # Convertir 'Sale Date' a tipo datetime para extraer el mes

df['Month'] = df['Sale Date'].dt.month  # Crear una columna adicional 'Month' que contenga el mes de la venta

Ingresos_por_mes = df.groupby('Month')['Total Sales'].sum() # Agrupar por 'Month' y sumar la columna 'Total Sales'

print(Ingresos_por_mes)

Month
1    142907.33
2    102390.68
3    123387.36
4    124764.04
5    106778.72
6    134380.76
7    139185.68
8     96132.08
Name: Total Sales, dtype: float64

In [13]:
# Venta por categoria

# Agrupar por 'Category' y sumar la columna 'Total Sales'

Ingresos_por_categoria = df.groupby('Category')['Total Sales'].sum()

# Mostrar los ingresos totales por categoría

print(Ingresos_por_categoria)

Category
Accesorios     560540.65
Electrónica    409386.00
Name: Total Sales, dtype: float64

In [14]:
#Mes y Dia con mas ventas

df['Sale Date']= pd.to_datetime(df['Sale Date'])

df['Day of the week'] = df['Sale Date'].dt.day_name()
df['Month'] = df['Sale Date'].dt.month_name()

# Calcular el total de ventas por dia

Ventas_por_dia = df.groupby('Day of the week')['Total Sales'].sum().reset_index()
dia_con_mas_ventas = Ventas_por_dia.sort_values(by='Total Sales', ascending=False).iloc[0]
print(f"El día con más ventas es: {dia_con_mas_ventas['Day of the week']} con un total de ventas de {dia_con_mas_ventas['Total Sales']}")

# Calcular el total de ventas por mes

Ventas_por_mes = df.groupby('Month')['Total Sales'].sum().reset_index()
mes_con_mas_ventas = Ventas_por_mes.sort_values(by='Total Sales', ascending=False).iloc[0]
print(f"El día con más ventas es: {mes_con_mas_ventas['Month']} con un total de ventas de {mes_con_mas_ventas['Total Sales']}")

El día con más ventas es: Tuesday con un total de ventas de 144655.39
El día con más ventas es: January con un total de ventas de 142907.33

In [15]:
# Promedio de ventas diarias

df['Sale Date'] = pd.to_datetime(df['Sale Date'])

Ventas_por_dia = df.groupby('Sale Date')['Total Sales'].sum().reset_index()
promedio_de_ventas_diarias = Ventas_por_dia['Total Sales'].mean()
print(f"El promedio de ventas diarias es de: {promedio_de_ventas_diarias}")

El promedio de ventas diarias es de: 3975.1092213114757

In [16]:
print(df.head())
print(df.describe())
print(df.columns)

   Order ID    Product  Quantity  Unit Price     Category  Sale Date  \
0      1000  Audífonos         3     1323.42   Accesorios 2024-01-01
1      1001    Monitor         2     1147.65   Accesorios 2024-01-01
2      1002    Teclado         3      118.00   Accesorios 2024-01-01
3      1003  Audífonos         4      439.58   Accesorios 2024-01-02
4      1004     Tablet         1       82.17  Electrónica 2024-01-02

   Total Sales    Month Day of the week
0      3970.26  January          Monday
1      2295.30  January          Monday
2       354.00  January          Monday
3      1758.32  January         Tuesday
4        82.17  January         Tuesday
          Order ID   Quantity   Unit Price                      Sale Date  \
count   500.000000  500.00000   500.000000                            500
mean   1249.500000    2.39600   804.706700  2024-05-01 00:02:52.800000256
min    1000.000000    1.00000    53.390000            2024-01-01 00:00:00
25%    1124.750000    1.00000   505.537500            2024-03-01 00:00:00
50%    1249.500000    2.00000   827.070000            2024-05-01 00:00:00
75%    1374.250000    3.00000  1138.917500            2024-07-01 00:00:00
max    1499.000000    4.00000  1499.060000            2024-08-31 00:00:00
std     144.481833    1.16529   400.683043                            NaN

       Total Sales
count   500.000000
mean   1939.853300
min      82.170000
25%     784.705000
50%    1479.090000
75%    2889.930000
max    5984.080000
std    1439.788409
Index(['Order ID', 'Product', 'Quantity', 'Unit Price', 'Category',
       'Sale Date', 'Total Sales', 'Month', 'Day of the week'],
      dtype='object')